@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Farsan&display=swap');

html {
    overflow: scroll;
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
    background-color: #53637F;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

td {
    text-align: justify;
}

.form-group {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

.home {
    width: 450px;
    margin-top: 14%;
    margin-left: 35%;
    background: lightblue;
    box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 15px;
    border: 1px solid grey;
    transition: all .3s;
}

.admin_login_page, .user_login_page {
    width: 450px;
    margin-top: 14%;
    margin-left: 35%;
    background: lightblue;
    box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    border: 1px solid grey;
    transition: all .3s;
}

.user_signup_page {
    width: 450px;
    margin-top: 10%;
    margin-left: 35%;
    background: lightblue;
    box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    border: 1px solid grey;
    transition: all .3s;
}

.add_flight_page {
    width: 450px;
    margin-top: 1%;
    margin-left: 35%;
    background: lightblue;
    box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    border: 1px solid grey;
    transition: all .3s;
}

.search_page {
    width: 450px;
    margin-top: 3%;
    margin-left: 35%;
    background: lightblue;
    box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    border: 1px solid grey;
    transition: all .3s;
}

.home_title, .admin_login_title, .user_login_title, .user_signup_title, .add_flight_title, .search_title {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 1em;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

.user_login, .admin_login {
    display:inline-block;
    margin-top: 15px;
    margin-left: 50px;
    border: none;
    background-color: grey;
    color: #ffffff;;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.admin_login_btn, .add_flight_btn, .search_btn {
    margin-top: 15px;
    margin-left: 34%;
    border: none;
    background-color: grey;
    color: #ffffff;;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.user_login_btn {
    margin-top: 15px;
    border: none;
    background-color: grey;
    color: #ffffff;;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.user_signup_btn {
    margin-top: 15px;
    margin-left: 38%;
    border: none;
    background-color: grey;
    color: #ffffff;;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.input:focus {
    border-color: #167bff;
    box-shadow: none;
}

svg {
    width: 340px;
    height: 340px;
    margin-top: 10%;
    margin-left: 40%;
    vertical-align: -0.125em;
    opacity: 0.3;
}

h5 {
    opacity: 50%;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    margin-top: 100%;
    margin-left: 44%;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

@media only screen and (max-width: 768px) {
    .admin_login_page, .user_login_page, .user_signup_page, .add_flight_page, .search_page {
      width: 80%;
    }
  
    .form-group {
      width: 40%;
    }
  }