<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Sign Up</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="body">
    <div class="user_signup_page">
        <form action="/signup/user" class="form" method = "POST" id="user_signup_id" > 
        <h1 class="user_signup_title">Sign Up</h1>

        <div class="form-group">
            <label class="label">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label class="label">Email</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Email" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label class="label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label class="label">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" autocomplete="off" required>
        </div>

        <button class="user_login_btn" onclick="window.location.href='/login/user'">Login</button>
        <button class="user_signup_btn" onclick="window.location.href='/signup/user'">SignUp</button>
        </form>
    </div>
</body>
</html>